:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: rgba(190, 175, 160, .6);
  --second-brand-color: #b80f0b;
  --third-brand-color: rgb(230, 214, 199);




  --main-font:  'Montserrat';
  --title-font: 'Quicksand';

  font-size: 62.5%;
}
